@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="arrowes-table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Summary</th>
                <th>C</th>
                <th>F</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.WeatherForecasts)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.Summary</td>
                    <td>@item.TemperatureC</td>
                    <td>@item.TemperatureF</td>
                </tr>
            }
        </tbody>
    </table>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
